/* profile css start here */
#profileImg {
    border: 5px solid white;
    border-radius: 50%;
    height: 200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#profileName {
    position: relative;
    /* left: 50%; */
    text-align: center;
    text-transform: capitalize;
    font-size: larger;
    font-weight: 800;
    color: black;
    /* transform: translateX(-50%); */
}

.profileSubtext {
    position: relative;
    font-size: 14px;
    text-align: left;
    font-weight: 800;
    font-family: monospace;
    padding: 10px 10px 5px 10px;
    /* border: 3px solid green; */
}

.profileSubtext i {
    padding-right: 10px;
}

.profileText {
    position: relative;
    font-size: 18px;
    text-align: justify;
    padding: 0px 5px 5px 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

/* profile css end here */
/*preloader*/
.d_loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 332; 
    background: #111;
  
}

.d_loader .ring {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid transparent;
    animation: animate_r 4s linear infinite;
}

.d_loader .ring:nth-child(1) {
    margin-right: 75px;
    border-top: 4px solid #24ecff;
}

@keyframes animate_r {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.d_loader .ring::before {
    content: "";
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.d_loader .ring:nth-child(1)::before {
    background: #24ecff;
    box-shadow: 0 0 0 5px #24ecff33,
        0 0 0 10px #24ecff22,
        0 0 0 20px #24ecff11,
        0 0 20px #24ecff,
        0 0 50px #24ecff;
}

.d_loader .ring:nth-child(2) {
    border-left: 4px solid #93ff2d;
    margin-left: 75px;
    animation: animate_r 4s linear infinite;
    animation-direction: reverse;
    animation-delay: -1s;
}

.d_loader .ring:nth-child(2)::before {
    top: initial;
    bottom: 12px;
    left: 12px;
    background: #93ff2d;
    box-shadow: 0 0 0 5px #93ff2d33,
        0 0 0 10px #93ff2d22,
        0 0 0 20px #93ff2d11,
        0 0 20px #93ff2d,
        0 0 50px #93ff2d;
}

.d_loader .ring:nth-child(3) {
    position: absolute;
    margin-bottom: 150px;
    animation: animate_r 4s linear infinite;
    animation-delay: -3s;
    animation-direction: reverse;
    border-left: 4px solid #e41cf8;


}

.d_loader .ring:nth-child(3)::before {
    top: initial;
    bottom: 12px;
    left: 12px;
    background: #e41cf8;
    box-shadow: 0 0 0 5px #e41cf833,
        0 0 0 10px #e41cf822,
        0 0 0 20px #e41cf811,
        0 0 20px #e41cf8,
        0 0 50px #e41cf8;
}

.d_loader p {
    position: absolute;
    color: #fff;
    font-size: 1.5em;
    font-weight: 800;
    font-family: 'Pushster', cursive;
    margin-top: 70vh;
    letter-spacing: 0.20em;
}

/*preloader*/